.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
  }
  
  .calcContainer {
    background-color: #B2BEB5;
    margin: 50px;
    width: 280px;
    height: 300px;
  }
  
  .userInputScreen {
    width: 280px;
    height: 40px;
    font-size: large;
    text-align: right;
  }
  
  button {
    margin: 5px;
    width: 51px;
  }
  
  .dblSizeBtn {
    width: 117px;
  }
  
  .buttonGrid {
    margin: 10px;
  }